doctype html
head
	//- Encodage
	meta(charset="UTF-8")
	//- Adaptation du site pour les smartphones
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	//- Internet Explorer
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	//- Titre de la page, utilisation de la variable title pour changer le titre quand la page change (voir server.js, lignes 18 à 49)
	title #{title} - Marshmallow
	//- On importe les icons Material Design
	link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
	//- On importe le framework Material Design Lite avec la palette de couleurs : indigo/rose
	link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
	//- Lien avec le CSS
	link(rel="stylesheet" href="style.css")
//- Layout Material Design
body.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
	header.mdl-layout__header
		.mdl-layout__header-row
			//- Titre de la page sur le layout avec la variable "title"
			span.mdl-layout-title.mrsh-layout-title #{title}
			.mdl-layout-spacer
			//- Liens de navigation, cachés sur les smartphones
			nav.mdl-navigation.mdl-layout--large-screen-only
				//- Lien vers le projet sur GitHub, le logo de GitHub est réalisé en SVG
				a(href="https://github.com/ekkaiasmith/marshmallow.xyz")
					button#tt1.mdl-button.mdl-js-button.mdl-button--icon
						svg.mrsh-github(viewbox="0 0 24 24" fill="#fefefe")
							path(d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z").
								GitHub
				//- Infobulle
				.mdl-tooltip(data-mdl-for="tt1").
					Code source sur GitHub
				//- Bouton redirigeant soit vers l'accueil, soit vers la page de connexion (selon la page sur laquelle on se trouve, d'où l'intéret des variables "url" et "message")
				a(href=url)
					button.mdl-button.mdl-js-button.white.
						#{message}
	//- Panneau latéral
	.mdl-layout__drawer
		span.mdl-layout-title Menu
		nav.mdl-navigation
			a.mdl-navigation__link(href="/") Accueil
				i.material-icons.mrsh-icon home
			a.mdl-navigation__link(href="problematiques") Probl&eacute;matiques rencontr&eacute;es
			a.mdl-navigation__link(href="https://github.com/ekkaiasmith/marshmallow.xyz") Code source sur GitHub
			a.mdl-navigation__link(href="authentification") S&apos;authentifier
				i.material-icons.mrsh-icon account_circle
	//- Contenu principal de la page
	main.mdl-layout__content 
