//- Scripts
script(defer="" src="https://code.getmdl.io/1.3.0/material.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(defer="", src="https://code.getmdl.io/1.3.0/material.min.js")
script(src="/socket.io/socket.io.js")
script(src="script.js")